%h3 Hello #{@user.name},

%p The password for your #{link_to 'GINA::ID account', 'http://id.gina.alaska.edu'} has been changed

%p
  If you did not request this password change or believe you're receiving this
  email in error, please contact #{mail_to 'support@gina.alaska.edu'} for
  immediate assistance.

%p
  Regards,
  %br/
  The GINA Team
  %br/
  = link_to 'https://www.gina.alaska.edu', 'https://www.gina.alaska.edu'
