!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Reset your GINA::ID password

    %p Can't remember your password? Don't worry about it — it happens.

    %p Your username is: #{@user.identity.email}

    %p
      %strong
        Just click this link to reset your password:
      %br/
      #{link_to @reset_url, @reset_url}

    %p
      Regards,
      %br/
      The GINA::ID Team

    %hr/

    %h4
      Didn't ask to reset your password?
    %p
      If you didn't ask for your password, it's likely that another user entered your username or email address by mistake while trying to reset their password. If that's the case, you don't need to take any further action and can safely disregard this email.
