%h1 Geographic Information Network of Alaska

%p Thanks for signing up for a GINA::ID account! You must follow this link to activate your account:

%p
  = link_to @activation_url, @activation_url

%p
  Have fun, and don't hesitate to contact us with your feedback.

%p
  The GINA Team
  %br/
  = link_to 'https://www.gina.alaska.edu', 'https://www.gina.alaska.edu'
