.row
  .col-md-6.col-md-offset-3
    .panel.panel-info
      .panel-heading
        %h1.panel-title Password reset form
      .panel-body
        = bootstrap_form_tag url: send_reset_instructions_users_path do |f|
          %p Please enter the email address assocated with the account.
          %p An email will be sent with instructions on resetting your password
          = f.text_field :email

          .text-right
            = f.primary 'Send email'
